@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@300;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;

}


body {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  /* background-color: #1063bc; */
}

.header {
  text-align: center;
}

header li {
  list-style: none;
  display: inline-block;
}

/* The stylings for the main recyclingBin */
.recyclingBin {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 2em;
}

.bin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2em;
  border: 0.5em #747474 solid;
  margin-top: 2em;
  text-align: center;
}

.images {
  margin: 1em;
  width: 90%;
  max-width: 240px;
}

.bigImage{
  max-width: 180px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

fieldset {
  padding: 1em;
  border: 0;
}
form {
  text-align: center;
}

button {
  font-size: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  padding: 0em 3em;
}

@media only screen and (min-width: 319px) {

  .recyclingBin {
    width: 90%;
    height: 31em;
  }

  .bin {
    width: 90%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

}

@media only screen and (min-width: 550px) {

  .recyclingBin {
    width: 35em;
    height: 40em;
  }

  .bin {
    width: 85%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

}

@media only screen and (min-width: 800px) {
  .recyclingBin {
    width: 35em;
    height: 45em;
  }

  .bin {
    width: 80%;
    height: 90%;
  }

  .images {
    width: 80%;
  }


}
