@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@300;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 5%;
  -webkit-font-smoothing: antialiased;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}


body {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  background: radial-gradient(circle at center, #1083bb, #1073bb, #1066bc);
}

.header {
  text-align: center;
  color: #fff;
}
header h1 {
  font-size: 3em;
}

.lightText {
  font-weight: 300;
}

header li {
  list-style: none;
  display: inline-block;
}

/* The stylings for the main recyclingBin */
.recyclingBin {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 2em;
}

.bin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2em;
  border: 0.5em #fdc02a solid;
  margin-top: 2em;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

.images {
  margin: 1em;
  width: 90%;
  max-width: 240px;
}

.bigImage{
  max-width: 180px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

fieldset {
  padding: 1em;
  border: 0;
}
form {
  text-align: center;
}

button {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  padding: 0em 2em;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
  color: white;
  background-color: #1083bb;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

button:hover {
  background-color: #fdc02a;
  color: #fff;
  box-shadow: 0px 3px 10px rgba(#816114, 0.7);
  letter-spacing: 0.5em;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transform: translateY(-3px);
;

}

h2, h3 {
  color: #00476a;
}

@media only screen and (min-width: 319px) {

  .recyclingBin {
    width: 95%;
    height: 31em;
  }

  .bin {
    width: 90%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

}

@media only screen and (min-width: 550px) {

  .recyclingBin {
    width: 35em;
    height: 40em;
  }

  .bin {
    width: 85%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

}

@media only screen and (min-width: 800px) {
  .recyclingBin {
    width: 35em;
    height: 45em;
  }

  .bin {
    width: 80%;
    height: 90%;
  }

  .images {
    width: 80%;
  }


}
